<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="carriers" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<group id="novaposhta" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>NovaPoshta</label>
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="api_key" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Api key</label>
                </field>
                <field id="content_language" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language of content</label>
                    <source_model>Im\NovaPoshta\Model\ContentLanguage</source_model>
                </field>
                <field id="generate_pre_waybill" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Generate waybill at place order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="price" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Price</label>
					<validate>validate-number validate-zero-or-greater</validate>
				</field>
				<field id="sort_order" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sort Order</label>
				</field>
				<field id="title" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Title</label>
				</field>
                <field id="sender_name" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Sender Name</label>
                </field>
                <field id="sender_sur_name" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Sender Sur Name</label>
                </field>
                <field id="sender_city" type="select" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Sender Place</label>
                    <source_model>Im\NovaPoshta\Model\Cities</source_model>
                </field>
			</group>
		</section>
<!--		<tab id="im" translate="label" sortOrder="999">-->
<!--			<label>im</label>-->
<!--		</tab>-->
<!--		<section id="settings" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">-->
<!--			<label>settings</label>-->
<!--			<tab>im</tab>-->
<!--			<resource>Im_NovaPoshta::config_im_novaposhta</resource>-->
<!--			<group id="im_novaposhta" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">-->
<!--				<label>im_novaposhta</label>-->
<!--				<field id="api_key" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">-->
<!--					<label>api_key</label>-->
<!--					<comment/>-->
<!--				</field>-->
<!--			</group>-->
<!--		</section>-->
	</system>
</config>
